/* brand icons */
.brand-icon-anchor:hover .brand-icon-linkedin {
	color: #0177b5;
	transition: all 0.2s ease-in;
}
.brand-icon-anchor:hover .brand-icon-twitter {
	color: #1c9bef;
	transition: all 0.2s ease-in;
}
.brand-icon-anchor:hover .brand-icon-github {
	color: #9900fd;
	transition: all 0.2s ease-in;
}
.brand-icon-anchor:hover .brand-icon-email {
	color: #ef4444;
	transition: all 0.2s ease-in;
}
.brand-icon-anchor:hover .brand-icon-css {
	color: #264DE3;
	transition: all 0.2s ease-in;
}

/* section card icons */
.section-card:hover .section-card-title .fa-css3 {
	color: #264DE3;
	transition: all 0.2s ease-in;
}
.section-card:hover .section-card-title .fa-php {
	color: #4E5B93;
	transition: all 0.2s ease-in;
}
.section-card:hover .section-card-title .fa-js {
	color: #EBD41B;
	transition: all 0.2s ease-in;
}
.section-card:hover .section-card-title .fa-wordpress {
	color: #20749B;
	transition: all 0.2s ease-in;
}
.section-card:hover .section-card-title .fa-react {
	color: #7DDFFF;
	transition: all 0.2s ease-in;
}
